@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* FAQ Animation Styles */
.faq-item.active .faq-question {
    color: rgb(34 197 94);
}

.faq-item.active .faq-icon {
    transform: rotate(180deg);
    color: rgb(34 197 94);
}

.faq-item.active .faq-answer {
    max-height: 200px;
    padding-bottom: 12px;
}